.navbar{
    background-color: rgb(15, 15, 66) !important;
   
}

.navbar ul li a{
    color: bisque !important;
}

.navbar-brand{
    color: rgb(228, 76, 139) !important;
}

.btn {
    background-color: rgb(228, 76, 139) !important;
    color: black !important;
    border-style: solid;
    border-color: aliceblue !important;
    

    }

    .btn:hover{
        background-color: black !important;
        color: white !important;
    }

    .caroisling{
        height: 90vh;
    }

    .carousel-indicators{
        color: black;
    }